body {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

#scroll-container {
  scroll-behavior: smooth;
  height: 100vh;
}

.scroll-page {
  position: absolute;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  
  &[selected="true"] {
    z-index: 5;
  }
}

#splash {
  background-image: url("../images//background.png");
}

#cards {
  background-color: violet;
  border: 1px solid red;
}